body {
  padding: 100px;
}
div {
  width: 300px;
}

.inputnum {
  padding: 5px;
  height: 30px;
}

.submit {
  font-size: 18px;
  padding: 20px;
  background-color: rgb(154, 154, 175);
}

.result {
    background-color: skyblue;
    font-size: 20px;
    border: 1px solid black;
    padding: 20px;
}