*{
    margin: 0;
    padding: 0;
}

body{
    padding: 40px;
}

.inner{
    margin: 0 auto;
    padding: 30px 70px;
}

h1{
    font-size: 18px;
    text-align: center;
}

.output{
    background-color: rgb(232, 255, 168);
    padding: 30px 10px;
    font-size: 15px;
    width: 300px;
}

img{
    height: 150px;
    width: auto;
    margin: 0 auto;
    margin-bottom: 10px;

}

p .note{
    font-size: 9px;
}
